#title-section {
  background: linear-gradient(rgba(204, 82, 0, 0.6), rgba(204, 82, 0, 0.6)), url("https://images.pexels.com/photos/163130/keyboard-black-notebook-input-163130.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center;
  padding-bottom: 1rem;
}

.title {
  text-align: center;
  padding: 4rem 0 4rem 0;
  font-size: 3em;
  margin: 0;
  color: #fff;
}

#greeting {
  margin-left: 80%;
  color: #fff;
  font-size: 1.4em;
}

#logout-btn {
  margin-left: 80%;
  text-align: center;
  background: #fff;
  color: #cc5200;
  border: 1px solid #cc5200;
}

#logout-btn:hover {
  background: #cc5200;
  color: #fff;
  border: 1px solid #fff;
}

.navbar {
  display: flex;
  margin: auto;
  background: #0d0d0d;
}

.nav-item {
  text-align: center;
  list-style: none;
  padding: 0 0 0 3rem;
  font-size: 1.1em;
  margin: 1rem 0 1rem 0;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
}

.nav-link:hover {
  background: #fff;
  color: #0d0d0d;
}

.route-page {
  background: #fff;
}
