.section-title {
  text-align: center;
  margin: 0;
  padding: 3rem 0 3rem 0;
  font-size: 2.5em;
}

.items-menu {
  display: flex;
  justify-content: space-around;
  max-width: 95%;
  margin: auto;
}

/* .active-button {
  font-size: 1.2em;
} */

/* Sort Menu =================================*/

.sort-menu {
  display: flex;
  flex-direction: column;
}

.sort-menu-item {
  margin: 0 0 2rem 0 !important; 
}

.btn-show-all {
  align-self: center;
}

.items-sort {
  border: 1px black solid;
  /* width: 400px; */
}

.sort-section {
  border: 1px black solid;
}

/* Products ==================================*/

.items-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  min-width: 1146.55px;
  min-height: 405.66px;
}

.items {
  list-style-type: none;
  text-align: center;
  border: 1px solid black;
}

.image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  cursor: pointer;
  width: 369.52px;
  height: 300px;
}

.kb-name {
  cursor: pointer;
}

.fa-angle-left, .fa-angle-right {
  font-size: 3em;
  color: darkgray;
  cursor: pointer;
}

.fa-angle-left:hover, .fa-angle-right:hover {
  color: black;
}

#modal {
  position: relative;
  z-index: 999;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 50%;
  width: 50%;
  top: 25%;
  left: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.modal-list-item {
  list-style-type: none;
  display: flex;
}

.modal-list-section-1 {
  padding-right: 50px;
}

.modal-list-section-2 {
  padding-left: 30px;
}

.product-name {
  text-align: center;
}

.modal-text {
  font-size: 0.8em;
}

.modal-info-list {
  display: flex;
  list-style-type: none;
  position: relative;
  right: 40px;
}

.close-modal {
  position: relative;
  left: 120px;
  bottom: 137px;
}

.range {
  cursor: pointer;
}
