.forms {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.center-text {
  text-align: center;
}

#register-login {
  background: #fff;
}

.register-login-title {
  font-size: 2rem;
  color: #cc5200;
  margin-bottom: 0;
}

.required-note {
  display: block;
  color: darkgray;
  padding-bottom: 1rem;
}

#register-login-content {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}
